.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button__container.--primary {
    background-color: #5ECE7B;
    border: 1px solid #5ECE7B;
    color: #ffff;
}

.button__container.--small {
    Width: 24px;
    Height: 24px;
}

.button__container.--medium {
    padding: 16px;
}

.button__container.--secondary {
    background-color: #fff;
    border: 1px solid #1d1f22;
    color: #1d1f22;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* .button__container.--secondary:hover {
   background-color: #fff;
} */