.cart__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 55px;
    padding: 80px 0;
}

.cart__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2rem;
}

.cart__rotate {
    transform: rotate(90deg);
    font-size: 2rem;
}

.cart__body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.cart__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    width: 100%;
    border-top: 0.5px solid #E5E5E5;
    border-bottom: 0.5px solid #E5E5E5;
}

.cart__item {
    width: 100%;
}

.cart__items .cart__item:not(:last-child) {
    border-bottom: 0.5px solid #E5E5E5;
    padding-bottom: 2rem;
}

.cart__footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    padding-top: 35px;
}

.cart__details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 16px;
    gap: 4px;
}

.cart__detail {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.cart__order {
    width: 279px;
}