.items__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 120px;
    width: 100%;
}

.items__header {
    font-size: 42px;
    padding-top: 60px;
}

.items__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 2rem;
    width: 100%;
}