.productPage__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 5rem;
    width: 100%;
    padding-top: 7rem;
}

.productPage__imgs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 2rem;
    width: max-content;
}

.productPage__imgs--list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}

.productPage__imgs--list img {
    height: 87px;
    width: 87px;
    object-fit: contain;
}

.productPage__img{
    height: 511px;
    width: 610px;
    object-fit: contain;
}
.productPage__img img {
    height: 100%;
    width: 100%;
}
.productPage__details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 292px;
}

.productPage__control{
      display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}
.productPage__size{
      display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.productPage__size--container{
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
}
.productPage__color{
      display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.productPage__color--container{
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 12px;
}



.productPage__price{
   display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}
