.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 6.3125rem 0 6.3125rem;
    position: relative;
    width: 100%;
}

.nav__left {
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.nav__left--item {
    position: relative;
    width: 6.0625rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav__left--item span {
    color: #1D1F22;
}

.nav__left--item.--active span {
    color: #5ECE7B;
}

.nav__left--item.--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 100%;
    background-color: #5ECE7B;
}

/* .nav__left--text{
    color: #1D1F22;
} */
/* .nav__left--text--active{
    color: #5ECE7B;
} */

.nav__center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
}

.nav__right {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  cursor: pointer;
}
.badge {
  position: relative;
}
.badge[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -7px;
  right: -11px;
  font-size: 14px;
  color: white;
  background-color: #1D1F22;
  line-height: 0px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1
}